.table-view{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    /*-fx-background-color: linear-gradient(to bottom left, #E9FF01, #76FF44, #04FF84);*/
    /*-fx-background-color: rgba(0,0,0,.3);*/
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 5 0;
    -fx-padding: 0 0 5 0;
    /*-fx-effect: dropshadow(two-pass-box, rgb(13, 55, 62),15,0.0,0.1,3);*/
    /*-fx-background-radius: 15 0 0 15;*/
}

.table-view .table-row-cell{
    -fx-table-cell-border-color:rgba(255, 255, 255, 0);
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .column-header, .table-view .filler{
    -fx-size: 50;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    /*-fx-font-style: Bold;*/
    -fx-font-size: 18;
    -fx-alignment: center;
}

.table-view .table-row-cell{
    -fx-font-weight: Bold;
    -fx-text-fill: white;
    -fx-table-cell-border-color:rgba(255, 255, 255, 0.1);

}


.table-row-cell:odd{
    /*-fx-background-color: rgba(255,255,255,.07);*/
    -fx-background-color: transparent;
    /*-fx-background-color: linear-gradient(to bottom left, #76FF44, #04FF84, #E9FF01);*/
    -fx-background-insets: 0, 10 10 10 10;
    /*-fx-background-radius: 15 0 0 15;*/
    /*-fx-border-radius: 15 0 0 15;*/
    /*-fx-border-color: #233062;*/
}



/*.table-row-cell:odd :hover{*/
/*-fx-background-color: rgba(255,255,255,.2);*/
/*}*/

/*.table-row-cell:even :hover{*/
/*-fx-background-color: rgba(255,255,255,.2);*/
/*}*/

/*.table-row-cell:even :pressed{*/
/*-fx-text-fill: white;*/
/*}*/
/*.table-row-cell:odd :pressed{*/
/*-fx-text-fill: white;*/
/*}*/
/*.table-row-cell:default{*/
/*-fx-text-fill: white;*/
/*}*/
.table-row-cell:even{
    -fx-background-color: transparent;
    /*-fx-background-color: rgba(0,0,0,.07);*/
    /*-fx-background-color: linear-gradient(to bottom left, #E9FF01, #76FF44, #04FF84);*/
    -fx-background-insets: 0, 0 0 1 0;
    /*-fx-background-radius: 15 0 0 15;*/
    /*-fx-border-radius: 15 0 0 15;*/
    /*!*-fx-border-color: #233062;*!*/

}

.table-view .table-cell  {
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.table-view .table-cell .after{
    -fx-text-fill: white;
}

.table-view .table-row-cell {
    -fx-cell-size: 45;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.table-view .table-row-cell .filler{
    /*-fx-text-fill: white;*/
    -fx-text-alignment: center;
}

.table-view .table-row-cell .filler .after{
    /*-fx-text-fill: white;*/
    -fx-text-alignment: center;
}

/*.table-row-cell:filled:selected:focused {*/
/*-fx-background-color: rgb(98, 15, 205);*/
/*}*/

/*.table-row-cell:filled:selected:hover{*/
/*-fx-background-color: rgb(98, 15, 205);*/
/*}*/


.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.table-view .scroll-bar:vertical .track-background,
.table-view .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
}

.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    /*-fx-background-insets: 2 0 2 0;*/
    -fx-background-radius: 3em;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: gray;
    /*-fx-background-insets: 0 2 0 2;*/
    -fx-background-radius: 3em;
}

.table-view .scroll-bar:horizontal .thumb:hover,
.table-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: gray;
}

.table-view .scroll-bar:horizontal .thumb:pressed,
.table-view .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #FF1E50;
}

.table-view .scroll-bar:vertical .increment-button, .table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
}

.table-view .scroll-bar:horizontal .increment-button, .table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-rotate: 90;
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .increment-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-rotate: 180;
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-rotate: -90;
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-background-color: transparent;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: -fx-box-border, -fx-box-border, transparent;
}

.table-view .table-row-cell:filled .table-cell {
    /*-fx-text-fill: white;*/
    /*-fx-font-style: Bold;*/
}